<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.AndroidClient.ictlab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ictlab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TestService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" >
             <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        
    </application>

</manifest>